<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ingrese su e-mail" [(ngModel)]="user.email">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Contraseña nueva</mat-label>
        <input type="password" matInput placeholder="Ingrese su contraseña" [(ngModel)]="user.password">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Repetir contraseña</mat-label>
        <input type="password" matInput placeholder="Ingrese su contraseña" [(ngModel)]="newPassword2">
    </mat-form-field><br>
    <p style="color: red;" *ngIf="user.password !== newPassword2">Las contraseñas no coinciden</p><br>
    <button mat-raised-button style="margin-left: 15px;" (click)="sendMail()" mat-dialog-close
        [disabled]="(!user.email || !user.password || !newPassword2) || (user.password !== newPassword2)">Enviar</button>
    <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 20px;">Cancelar</button>
</mat-card>