<div class="b" style="display: flex; justify-content:center;">
    <mat-card style="width: 1400px; margin-top: 50px; margin-bottom: 203px;">
        <mat-grid-list cols="8">
            <div class="products" *ngFor="let product of products">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-card style="display: flex; flex-direction: column; width: 250px; justify-content: center; align-items: center;">
                        <img src="../../../assets/user.png" width="60px" height="60px">
                        <p>Descripcion</p>
                        <div class="b" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                            <button mat-raised-button color="basic">Comprar</button>
                            <button mat-raised-button color="warn" style="margin-left: 20px;">Agregar</button>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile *ngIf="product !== 3 && product !== 6 && product !== 9" [colspan]="1" [rowspan]="1"></mat-grid-tile>
            </div>
        </mat-grid-list>
    </mat-card>
</div>
